
.__next{
    height: 100vh;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: black;
  height: 100vh;
  /* overflow-y: hidden; */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  font-family: Work Sans, sans-serif;
  box-sizing: border-box;
}

:root {
  --navbar-height: 50px;
}
.imgbar {
  background-image: url(https://cdn.glitch.com/95f7c16f-2ead-449a-b1a5-ccc13ce52630%2Ffreefire2.jpg?v=1628509208902);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 25% top 50%;
  height: 80%;
}

@media only screen and (max-width: 342px) {
  .claim {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1213px) {
  .imgbar {
    background-position: left 25% top 20%;
  }
}

@media only screen and (min-width: 750px) {
  .claim {
    font-size: 20px;
  }
}

@media only screen and (max-height: 632px) {
  .notice {
    max-height: 100vh;
    width: 85% !important;
    transform: translate(20px, -30px) !important;
  }
}
@media only screen and (max-height: 558px) {
  .notice {
    padding: 10px;
    font-size: 1.3em;
  }
}

.claim {
  background-image: url('https://dl.dir.freefiremobile.com/common/web_event/hash/b88b8cb5e604e854adff3568bfc1b984jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: aliceblue;
  height: 100vh;
  display: grid;
  place-items: center;
  background-position: left 100% top 0%;
}

.notice {
  width: min(80%, 700px);
  padding: 20px;
  min-height: 300px;
  border-radius: 20px;
  transform: translate(20px, -100px);
  font-size: 1em;
  background-color: rgba(40, 190, 236, 0.479);
}
.p1 {
  background-color: transparent !important;
}
.notice h1 {
  font-size: 0.9em;
}

.notice_list_item {
  font-size: 0.9em;
  color: white;
}

hr {
  width: 90%;
  height: 1px;
  background-color: black;
  margin-bottom: 10px;
}

.main {
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.login {
  display: flex;
}
.page {
  width: 30px;
  cursor: pointer;
  height: 30px;
  background-color: rgb(223, 182, 182);
  border-radius: 100%;
  margin-left: 10px;
  display: grid;
  place-items: center;
}

.page svg {
  transform: scale(1.7);
}
